[submodule "real-time-news-web"]
	path = real-time-news-web
	url = https://github.com/RealTimeNews/real-time-news-web.git
[submodule "real-time-news-mobile"]
	path = real-time-news-mobile
	url = https://github.com/RealTimeNews/real-time-news-mobile.git
